/*************************************************
*
* main styles
*
**************************************************/
@import url("https://fonts.googleapis.com/css?family=Lato:300,700&subset=latin-ext");
html {
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%; }

*,
:after,
:before {
  background-repeat: no-repeat;
  box-sizing: inherit; }

:after,
:before {
  text-decoration: inherit;
  vertical-align: inherit; }

* {
  padding: 0;
  margin: 0; }

audio:not([controls]) {
  display: none;
  height: 0; }

hr {
  overflow: visible; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

summary {
  display: list-item; }

small {
  font-size: 80%; }

[hidden],
template {
  display: none; }

abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active,
a:hover {
  outline-width: 0; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

b,
strong {
  font-weight: bolder; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

input {
  border-radius: 0; }

[role=button],
[type=button],
[type=reset],
[type=submit],
button {
  cursor: pointer; }

[disabled] {
  cursor: default; }

[type=number] {
  width: auto; }

[type=search] {
  -webkit-appearance: textfield; }

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  resize: vertical; }

button,
input,
optgroup,
select,
textarea {
  font: inherit; }

optgroup {
  font-weight: 700; }

button {
  overflow: visible; }

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: 0;
  padding: 0; }

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button:-moz-focusring {
  outline: 1px dotted ButtonText; }

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button; }

button,
select {
  text-transform: none; }

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }

select::-ms-expand {
  display: none; }

select::-ms-value {
  color: currentColor; }

legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

img {
  border-style: none; }

progress {
  vertical-align: baseline; }

svg:not(:root) {
  overflow: hidden; }

audio,
canvas,
progress,
video {
  display: inline-block; }

@media screen {
  [hidden~=screen] {
    display: inherit; }
  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important; } }

[aria-busy=true] {
  cursor: progress; }

[aria-controls] {
  cursor: pointer; }

[aria-disabled] {
  cursor: default; }

::-moz-selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none; }

::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none; }

/*************************************************
*
* _animations
*
**************************************************/
img {
  transition: transform .27s; }
  img:hover {
    cursor: pointer;
    transform: scale(0.95);
    transition: transform .27s; }

.submit-btn {
  transition: transform .1s; }
  .submit-btn:hover {
    transform: scale(1.05);
    transition: transform .1s; }

/*************************************************
*
* _base
*
**************************************************/
body {
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding-top: 2.5rem; }
  @media screen and (max-width: 47rem) {
    body {
      padding-top: 0; } }

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #e5ceae; }

/*************************************************
*
* typography styles
*
**************************************************/
html {
  color: #323232;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  text-align: center; }

/*************************************************
*
* _button
*
**************************************************/
.submit-btn {
  color: #fff;
  background-color: #30306d;
  font-size: .857em;
  font-weight: bold;
  line-height: 2.2rem;
  padding: 0 2rem;
  text-transform: uppercase; }

/*************************************************
*
* _form
*
**************************************************/
.form-register {
  background-color: #e5ceae;
  display: flex;
  flex-direction: column;
  min-height: 15rem;
  justify-content: space-around;
  padding-top: .8rem;
  padding-bottom: .8rem; }
  .form-register__item {
    position: relative; }
    @media screen and (max-width: 47rem) {
      .form-register__item {
        margin: .8rem 0; } }
  .form-register__item-input {
    min-width: 15.857rem;
    position: relative; }
  .form-register__login-link, .form-register__login-link:visited {
    color: #30306d;
    text-decoration: none;
    text-transform: uppercase; }
  .form-register input {
    background-color: #fff;
    border: 1px solid #b9b9b9;
    border-bottom-color: #30306d;
    height: 2.2rem;
    min-width: 15.857rem;
    line-height: 2.2rem;
    padding: .6rem; }
  .form-register label {
    font-size: 1.143em;
    line-height: 2.2rem;
    position: absolute;
    transform: translateX(-180%); }
    @media screen and (max-width: 47rem) {
      .form-register label {
        display: block;
        position: relative;
        transform: translateX(0); } }

/*************************************************
*
* _modal
*
**************************************************/
.modal {
  border: 1px solid #e5ceae;
  box-shadow: 0 0 1.429em rgba(0, 0, 0, 0.35);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 53.142rem; }
  @media screen and (max-width: 47rem) {
    .modal {
      width: 100%; } }
  .modal::before {
    background-color: rgba(0, 0, 0, 0.5);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1; }

.header__icon {
  height: 1.625rem;
  max-width: 100%; }

.header__item {
  display: flex;
  flex-direction: row;
  line-height: 1.571rem; }
  @media screen and (max-width: 47rem) {
    .header__item {
      margin: 1rem auto; } }

.header__promo {
  align-items: center;
  display: flex;
  height: 5rem;
  justify-content: space-around;
  padding-left: 2.25rem;
  padding-right: 2.25rem; }
  @media screen and (max-width: 47rem) {
    .header__promo {
      height: auto;
      flex-direction: column; } }

.header__title {
  color: #30306d;
  font-size: 1.143em;
  padding-bottom: 1.429rem;
  padding-top: 1.429rem;
  text-transform: uppercase; }

/*************************************************
*
* _promo-bar
*
**************************************************/
.promo-bar {
  display: flex;
  height: 3.857rem;
  padding-left: 1.429rem;
  padding-right: 1.429rem; }
  @media screen and (max-width: 47rem) {
    .promo-bar {
      height: auto;
      flex-direction: column;
      margin: 1rem 0; } }
  .promo-bar--lg {
    height: 6.214rem; }
    @media screen and (max-width: 47rem) {
      .promo-bar--lg {
        height: auto; } }
  .promo-bar__content {
    display: flex;
    justify-content: space-between;
    width: 100%; }
    @media screen and (max-width: 47rem) {
      .promo-bar__content {
        flex-wrap: wrap; } }
    .promo-bar__content img {
      height: 3.857rem; }
      @media screen and (max-width: 47rem) {
        .promo-bar__content img {
          margin: .2rem .8rem; } }
    .promo-bar__content--lg img {
      align-self: center;
      height: 4.756rem; }
  .promo-bar__header {
    align-self: center;
    padding-right: 1.8rem;
    width: 9rem; }
    @media screen and (max-width: 47rem) {
      .promo-bar__header {
        margin-bottom: 1rem; } }

/*************************************************
*
* footer
*
**************************************************/
/*************************************************
*
* _header
*
**************************************************/
/*************************************************
*
* _home
*
**************************************************/
