/*************************************************
*
* _button
*
**************************************************/

.submit-btn {
  color: $white;
  background-color: $navyblue;
  font-size: .857em;
  font-weight: bold;
  line-height: 2.2rem;
  padding: 0 2rem;
  text-transform: uppercase;
}
